@charset "UTF-8";

.navlink {
    color:white
}

.navlink:hover {
    color:#D3D3D3
}

.title {
    margin-left:10px;
    margin-top:10px;
}


#map{ z-index:1; }
.modal{ z-index:2; }

.jobTitle {
    font-size:20px;
}

/* This style was retrieved from https://codepen.io/samuelkraft/pen/Farhl.
   It has been slightly modified. */

body {
	font-family: "Helvetica Neue";
	font-weight: normal;
}

p {
    max-width: 255px;
    word-wrap: break-word;
    line-height: 16px;
    position:relative;
    padding:10px 20px;
    border-radius:25px;
}

p:before, :after {
    content:"";
    position:absolute;
    bottom:-2px;
    height:20px;
}

.from-me {
	color:white; 
	background:#0B93F6;
}

.from-me:before {
    right:-7px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    transform:translate(0, -2px);
}

.from-me:after {
    right:-56px;
    width:26px;
    background:white;
    border-bottom-left-radius: 10px;
    transform:translate(-30px, -2px);
}

.from-them {
	background:#E5E5EA;
    color:black;
    float:left;
}

.from-them:before {
    left:-7px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    transform:translate(0, -2px);
}

.from-them:after {
    left:4px;
    width:26px;
    background:white;
    border-bottom-right-radius: 10px;
    transform:translate(-30px, -2px);
}